/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Noto Sans;
    src: url('./assets/NotoSans-Regular.ttf');
}
body {
    margin: 0;
    padding: 0;
    overflow:hidden;
  }
