<div class="homePage">
    <div class="header">
        <div class="heading">Hi Elsie!</div>
        <div class="sub-heading">Welcome to Zoey. To get started, select an item from the left menu</div>
    </div>
    <div class="body">
        <div class="body-header">Latest News</div>
        <div class="body-item">
            <img class="item-img" src="/assets/Blog-image-2.png"/>
            <div class="item-content">
                <h3>Zoey Updates - October 2023</h3>
                <p>Zoey hires new developer! Meet Johnathan Moes and all he we will bring to the company!</p>
                <a href="">Click here to read more</a>
            </div>
        </div>
    </div>
</div>
